@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --color-forest-900: #0d231a;
  --color-forest-800: #153327;
  --color-forest-700: #1d4334;
  --color-forest-600: #255441;
  --color-forest-500: #2f6951;
  --color-forest-400: #428d6f;
  --color-forest-300: #5cb591;
  --color-forest-200: #88ceb2;
  --color-forest-100: #c1e6d6;
  --color-forest-50:  #ebf5f0;

  --color-cream-900: #a69a80;
  --color-cream-800: #bfb295;
  --color-cream-700: #d9cca9;
  --color-cream-600: #ebdcc0;
  --color-cream-500: #f0e6d3;
  --color-cream-400: #f3f0e8;
  --color-cream-300: #f5f2eb;
  --color-cream-200: #f7f5f0;
  --color-cream-100: #fcfbf9;
  --color-cream-50:  #ffffff;
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-serif), ui-serif, Georgia, serif;
}

body {
  background-color: var(--color-cream-50);
  color: var(--color-forest-900);
}
